<!DOCTYPE html>
<html lang="en" data-scribe-reduced-action-queue="true"><!--<![endif]--><head>
    

    <link rel="stylesheet" href="https://abs.twimg.com/a/1397855479/css/t1/highline_rosetta_core.bundle.css">

    <link rel="stylesheet" href="https://abs.twimg.com/a/1397855479/css/t1/rosetta_logged_out.bundle.css">
    <link rel="stylesheet" href="https://abs.twimg.com/a/1397855479/css/t1/highline_logged_out.bundle.css">


      <title>GitOverFlow</title>
    




  <link href="https://abs.twimg.com/favicons/favicon.ico" rel="shortcut icon" type="image/x-icon">



    <link rel="canonical" href="./Twitter_files/Twitter.html">



<link rel="search" type="application/opensearchdescription+xml" href="https://twitter.com/opensearch.xml" title="Twitter">

          <link rel="stylesheet" href="https://abs.twimg.com/a/1397855479/css/t1/rosetta_more.bundle.css">
      <link rel="stylesheet" href="https://abs.twimg.com/a/1397855479/css/t1/highline_more.bundle.css">

  <style type="text/css"> .nav-logo-link{margin: 11px;}</style></head>
  <body class="highline logged-out mobile-callout front-page" data-fouc-class-names="swift-loading" dir="ltr">
      <script id="swift_loading_indicator">
        document.body.className=document.body.className+" "+document.body.getAttribute("data-fouc-class-names");
      </script>
    <div id="doc" class="">
        <div class="topbar js-topbar">
  <div id="banners" class="js-banners">
  </div>
  <div class="global-nav" data-section-term="top_nav">
    <div class="global-nav-inner">
      <div class="container">

        
         <ul class="nav js-global-actions"> <li class="home" data-global-action="t1home">  <a class="nav-logo-link" href="./Twitter_files/Twitter.html" data-nav="front"> <span><span>GitOverFlow</span></span> </a>   </li> </ul> 
         <div class="pull-right"><a href="http://www.google.com/"> Google </a></div> 
      </div>
    </div>
  </div>

</div>

        <div id="page-outer">
          <div id="page-container" class="AppContent  wrapper-front white">
              





            <div class="front-container " id="front-container">
        
<div class="front-card">

  <div class="front-signin js-front-signin">

    <div class="remember-forgot">
      <a class="forgot" href="https://twitter.com/account/resend_password">Forgot password?</a>
    </div>
</div>
</div>


</div>

          </div>
        </div>
      
    </div>

<div class="gallery-overlay"></div>
<div class="Gallery Gallery--new">
  <div class="Gallery-closeTarget"></div>
  <div class="Gallery-content">
      <button type="button" class="modal-btn modal-close js-close">
  <span class="Icon Icon--close Icon--large">
    <span class="visuallyhidden">Close</span>
  </span>
</button>

    <div class="Gallery-media"></div>
    <div class="GalleryNav GalleryNav--prev">
      <span class="GalleryNav-handle GalleryNav-handle--prev">
          <span class="Icon Icon--caretLeft Icon--large">
            <span class="u-isHiddenVisually">
              Previous
            </span>
          </span>
      </span>
    </div>
    <div class="GalleryNav GalleryNav--next">
      <span class="GalleryNav-handle GalleryNav-handle--next">
          <span class="Icon Icon--caretRight Icon--large">
            <span class="u-isHiddenVisually">
              Next
            </span>
          </span>
      </span>
    </div>
    <div class="GalleryTweet GalleryTweet--new"></div>
  </div>
</div>



<div class="modal-overlay"></div>




<div id="goto-user-dialog" class="modal-container">
  <div class="modal modal-small draggable">
    <div class="modal-content">
      <button type="button" class="modal-btn modal-close js-close">
  <span class="Icon Icon--close Icon--medium">
    <span class="visuallyhidden">Close</span>
  </span>
</button>


      <div class="modal-header">
        <h3 class="modal-title">Go to a person's profile</h3>
      </div>

      <div class="modal-body">
        <div class="modal-inner">
          <form class="goto-user-form">
            <input class="input-block username-input" type="text" placeholder="Start typing a name to jump to a profile" aria-label="User">
            


<div role="listbox" aria-hidden="true" class="dropdown-menu typeahead">
  <div aria-hidden="true" class="dropdown-caret">
    <div class="caret-outer"></div>
    <div class="caret-inner"></div>
  </div>
  <div role="presentation" class="dropdown-inner js-typeahead-results">
    <div role="presentation" class="typeahead-saved-searches">
  <h3 id="saved-searches-heading" class="typeahead-category-title saved-searches-title">Saved searches</h3>
  <ul role="presentation" class="typeahead-items saved-searches-list">
    
    <li role="presentation" class="typeahead-item typeahead-saved-search-item">
      <span class="icon close" aria-hidden="true"><span class="visuallyhidden">Remove</span></span>
      <a role="option" aria-describedby="saved-searches-heading" class="js-nav" href="" data-search-query="" data-query-source="" data-ds="saved_search" tabindex="-1"></a>
    </li>
  </ul>
</div>

    <ul role="presentation" class="typeahead-items typeahead-topics">
  
  <li role="presentation" class="typeahead-item typeahead-topic-item">
    <a role="option" class="js-nav" href="" data-search-query="" data-query-source="typeahead_click" data-ds="topics" tabindex="-1">
    </a>
  </li>
</ul>


    


<ul role="presentation" class="typeahead-items typeahead-accounts js-typeahead-accounts">
  
  <li role="presentation" data-user-id="" data-user-screenname="" data-remote="true" data-score="" class="typeahead-item typeahead-account-item js-selectable">
    
    <a role="option" class="js-nav" data-query-source="typeahead_click" data-search-query="" data-ds="account">
      <img class="avatar size24" alt="">
      <span class="typeahead-user-item-info">
        <span class="fullname"></span>
        <span class="js-verified hidden"><span class="Icon Icon--verified Icon--small"><span class="u-isHiddenVisually">Verified account</span></span></span>
        <span class="username"><s>@</s><b></b></span>
      </span>
    </a>
  </li>
  <li role="presentation" class="js-selectable typeahead-accounts-shortcut js-shortcut"><a role="option" class="js-nav" href="" data-search-query="" data-query-source="typeahead_click" data-shortcut="true" data-ds="account_search"></a></li>
</ul>

    <ul role="presentation" class="typeahead-items typeahead-trend-locations-list">
  
  <li role="presentation" class="typeahead-item typeahead-trend-locations-item"><a role="option" class="js-nav" href="" data-ds="trend_location" data-search-query="" tabindex="-1"></a></li>
</ul>
    <ul role="presentation" class="typeahead-items typeahead-context-list">
  
  <li role="presentation" class="typeahead-item typeahead-context-item"><a role="option" class="js-nav" href="" data-ds="context_helper" data-search-query="" tabindex="-1"></a></li>
</ul>
  </div>
</div>

          </form>
        </div>
      </div>

    </div>
  </div>
</div>


  <div id="retweet-tweet-dialog" class="modal-container">
  <div class="close-modal-background-target"></div>
  <div class="modal draggable">
    <div class="modal-content">
      <button type="button" class="modal-btn modal-close js-close">
  <span class="Icon Icon--close Icon--medium">
    <span class="visuallyhidden">Close</span>
  </span>
</button>


      <div class="modal-header">
        <h3 class="modal-title">Retweet this to your followers?</h3>
      </div>

      <div class="tweet-loading">
  <div class="spinner-bigger"></div>
</div>

      <div class="modal-body modal-tweet"></div>

      <div class="modal-footer">
        <button class="btn cancel-action js-close">Cancel</button>
        <button class="btn primary-btn retweet-action">Retweet</button>
      </div>
    </div>
  </div>
</div>

  <div id="delete-tweet-dialog" class="modal-container">
  <div class="close-modal-background-target"></div>
  <div class="modal draggable">
    <div class="modal-content">
      <button type="button" class="modal-btn modal-close js-close">
  <span class="Icon Icon--close Icon--medium">
    <span class="visuallyhidden">Close</span>
  </span>
</button>


      <div class="modal-header">
        <h3 class="modal-title">Are you sure you want to delete this Tweet?</h3>
      </div>

      <div class="tweet-loading">
  <div class="spinner-bigger"></div>
</div>

      <div class="modal-body modal-tweet"></div>

      <div class="modal-footer">
        <button class="btn cancel-action js-close">Cancel</button>
        <button class="btn primary-btn delete-action">Delete</button>
      </div>
    </div>
  </div>
</div>


<div id="block-user-dialog" class="modal-container">
  <div class="close-modal-background-target"></div>
  <div class="modal draggable">
    <div class="modal-content">
      <button type="button" class="modal-btn modal-close js-close">
  <span class="Icon Icon--close Icon--medium">
    <span class="visuallyhidden">Close</span>
  </span>
</button>


      <div class="modal-header">
        <h3 class="modal-title">Block</h3>
      </div>

      <div class="tweet-loading">
  <div class="spinner-bigger"></div>
</div>

      <div class="modal-body modal-tweet"></div>

      <div class="modal-footer">
        <button class="btn cancel-action js-close">Cancel</button>
        <button class="btn primary-btn block-action">Block</button>
      </div>
    </div>
  </div>
</div>



  
  

     <div id="geo-disabled-dropdown">
      <div class="dropdown-menu" tabindex="-1">
  <div class="dropdown-caret">
    <span class="caret-outer"></span>
    <span class="caret-inner"></span>
  </div>
  <ul>
    <li class="geo-not-enabled-yet">
      <h2>Add a location to your Tweets</h2>
      <p>
        When you tweet with a location, Twitter stores that location. 
        You can switch location on/off before each Tweet and always have the option to delete your location history.
        <a href="http://support.twitter.com/forums/26810/entries/78525" target="_blank">Learn more</a>
      </p>
      <div>
        <button type="button" class="geo-turn-on btn primary-btn">Turn location on</button>
        <button type="button" class="geo-not-now btn-link">Not now</button>
      </div>
    </li>
  </ul>
</div>
    </div>

  <div id="geo-enabled-dropdown">
    <div class="dropdown-menu" tabindex="-1">
  <div class="dropdown-caret">
    <span class="caret-outer"></span>
    <span class="caret-inner"></span>
  </div>
  <ul>
    <li class="geo-query-location">
      <input type="text" autocomplete="off" placeholder="Search for a neighborhood or city">
      <span class="icon generic-search"></span>
    </li>
    <li class="geo-dropdown-status"></li>
    <li class="dropdown-link geo-turn-off-item geo-focusable">
      <span class="icon close"></span>Turn off location
    </li>
  </ul>
</div>
  </div>


  <div id="profile_popup" class="modal-container ProfilePopupContainer">
  <div class="close-modal-background-target"></div>
  <div class="modal modal-small draggable">
    <div class="modal-content clearfix">
      <button type="button" class="modal-btn modal-close js-close">
  <span class="Icon Icon--close Icon--medium">
    <span class="visuallyhidden">Close</span>
  </span>
</button>

      <div class="modal-header">
        <h3 class="modal-title">Profile summary</h3>
      </div>

      <div class="modal-body profile-modal">

      </div>

      <div class="loading">
        <span class="spinner-bigger"></span>
      </div>
    </div>
  </div>
</div>

  <div id="list-membership-dialog" class="modal-container">
  <div class="close-modal-background-target"></div>
  <div class="modal modal-small draggable">
    <div class="modal-content">
      <button type="button" class="modal-btn modal-close js-close">
  <span class="Icon Icon--close Icon--medium">
    <span class="visuallyhidden">Close</span>
  </span>
</button>

      <div class="modal-header">
        <h3 class="modal-title">Your lists</h3>
      </div>
      <div class="modal-body">
        <div class="list-membership-content"></div>
        <span class="spinner lists-spinner" title="Loading…"></span>
      </div>
    </div>
  </div>
</div>
  <div id="list-operations-dialog" class="modal-container">
  <div class="close-modal-background-target"></div>
  <div class="modal modal-medium draggable">
    <div class="modal-content">
      <button type="button" class="modal-btn modal-close js-close">
  <span class="Icon Icon--close Icon--medium">
    <span class="visuallyhidden">Close</span>
  </span>
</button>

      <div class="modal-header">
        <h3 class="modal-title">Create a new list</h3>
      </div>
      <div class="modal-body">
        
<div class="list-editor">
  <div class="field">
    <label for="list-name">List name</label>
    <input id="list-name" type="text" class="text" name="name" value="">
  </div>
  <hr>

  <div class="field">
    <label for="list-description">Description</label>
    <textarea id="list-description" name="description"></textarea>
    <span class="help-text">Under 100 characters, optional</span>
  </div>
  <hr>

  <fieldset class="field">
    <legend>Privacy</legend>
    <div class="options">
      <label for="list-public-radio">
        <input class="radio" type="radio" name="mode" id="list-public-radio" value="public" checked="checked">
        <b>Public</b> · Anyone can follow this list
      </label>
      <label for="list-private-radio">
        <input class="radio" type="radio" name="mode" id="list-private-radio" value="private">
        <b>Private</b> · Only you can access this list
      </label>
    </div>
  </fieldset>
  <hr>

  <div class="list-editor-save">
    <button type="button" class="btn btn-primary update-list-button" data-list-id="">Save list</button>
  </div>

</div>
      </div>
    </div>
  </div>
</div>

  <div id="activity-popup-dialog" class="modal-container">
  <div class="close-modal-background-target"></div>
  <div class="modal draggable">
    <div class="modal-content clearfix">
      <button type="button" class="modal-btn modal-close js-close">
  <span class="Icon Icon--close Icon--medium">
    <span class="visuallyhidden">Close</span>
  </span>
</button>


      <div class="modal-header">
        <h3 class="modal-title"></h3>
      </div>

      <div class="modal-body">
        <div class="tweet-loading">
  <div class="spinner-bigger"></div>
</div>

        <div class="activity-tweet modal-tweet clearfix"></div>
        <div class="loading">
          <span class="spinner-bigger"></span>
        </div>
        <div class="activity-content clearfix"></div>
      </div>
    </div>
  </div>
</div>





  <div id="embed-tweet-dialog" class="modal-container">
  <div class="close-modal-background-target"></div>
  <div class="modal modal-medium draggable">
    <div class="modal-content">
      <button type="button" class="modal-btn modal-close js-close">
  <span class="Icon Icon--close Icon--medium">
    <span class="visuallyhidden">Close</span>
  </span>
</button>

      <div class="modal-header">
        <h3 class="modal-title">Embed this Tweet</h3>
      </div>
      <div class="modal-body">
        <div class="embed-code-container">
  <p>Add this Tweet to your website by copying the code below. <a href="https://dev.twitter.com/docs/embedded-tweets">Learn more</a></p>
  <form>

    <div class="embed-destination-wrapper">
      <div class="embed-overlay embed-overlay-spinner"><div class="embed-overlay-content"></div></div>
      <div class="embed-overlay embed-overlay-error">
        <p class="embed-overlay-content">Hmm, there was a problem reaching the server. <button type="button" class="btn-link retry-embed">Try again?</button></p>
      </div>
      <textarea class="embed-destination js-initial-focus"></textarea>
      <div class="embed-options">
        <div class="embed-include-parent-tweet">
          <label for="include-parent-tweet">
            <input type="checkbox" id="include-parent-tweet" class="include-parent-tweet" checked="">
            Include parent Tweet
          </label>
        </div>
        <div class="embed-include-card">
          <label for="include-card">
            <input type="checkbox" id="include-card" class="include-card" checked="">
            Include media
          </label>
        </div>
      </div>
    </div>
  </form>
  <div class="embed-preview">
    <h3>Preview</h3>
  </div>
</div>

      </div>
    </div>
  </div>
</div>